body {
    background-color: #eaeaea;
    padding: 0;
}
#navbar {
    height: 3rem;
    width: 100%;
    background-color: #5484e8;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

#navbar-logo {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

#header {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: 10rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #c6cbcb;
}
#profile {
    width: 60rem;
    height: 6rem;
    display: flex;
}

#profile-left {
    display: flex;
    height: 100%;
    width: 20%;
    flex-direction: column;
    align-items: center;
}

#profile-img {
    height: 100%;
    width: fit-content;
}

#profile-level {
    background-color: #2c3547;
    color: rgb(234, 190, 86);
    height: 1.5rem;
    width: 3rem;
    border-radius: 1rem;
    text-align: center;
    position: relative;
    top: -0.5rem;
    border: 1px solid rgb(234, 190, 86);
}

#profile-name {
    font-size: 1.25rem;
    font-weight: bold;
}

#main {
    width: 100%;
    height: 80vh;
    position: relative;
    top: 10rem;
    display: flex;
    justify-content: center;
}

#game-information {
    width: 20rem;
    height: 100%;
    margin-right: 1rem;
}
#league-information {
    width: 20rem;
    height: 50%;
}

#league-solo,
#league-free {
    height: 30%;
    background-color: rgb(242, 242, 242);
    margin: 1rem 0;
    border: 1px solid #c6cbcb;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#league-solo__img,
#league-free__img,
#league-information__rank {
    height: 80%;
    margin-right: 1rem;
}

#league-information__rank {
    height: 60%;
}

#league-information__rank {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.queue-type {
    color: #869292;
    font-size: 0.8rem;
}

.tier {
    color: #5484e8;
    font-weight: bold;
}

.point {
    font-size: 0.8rem;
    font-weight: bold;
}

.winRatio {
    color: #869292;
    font-weight: lighter;
}

.win-ratio {
    color: #869292;
    font-size: 0.8rem;
}

#match-information {
    box-sizing: border-box;
    width: 50rem;
    height: auto;
}

.match-information__win,
.match-information__lose {
    height: 8rem;
    box-sizing: border-box;
    width: 100%;
    margin: 1rem 0;
    display: flex;
    padding: 0.9rem 1rem;
}

.match-information__win {
    background-color: #a3cfec;
}

.match-information__lose {
    background-color: #e2b6b3;
}

.info,
.champion,
.kda,
.stats,
.items,
.participants,
.action {
    box-sizing: border-box;
    height: 95%;
}

.info,
.stats {
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.champion,
.items {
    width: 15%;
}
.kda {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.kda {
    width: 10%;
}

.participants {
    width: 25%;
}

.action {
    width: 1%;
}

.divider {
    height: 1px;
    width: 40%;
    box-sizing: border-box;
    border: 1px solid rgb(153, 185, 207);
}

#info-game {
    font-weight: bold;
    color: rgb(85, 85, 85);
    font-size: 0.8rem;
}

#info-game,
#info-played,
#info-win,
#info-time {
    color: rgb(85, 85, 85);
    font-size: 0.7rem;
}

#info-win {
    color: #5484e8;
    font-weight: bold;
    font-size: 0.8rem;
}

.champion {
    margin-right: 1rem;
}
#champion-info {
    box-sizing: border-box;
    width: 100%;
    height: 80%;
    display: flex;
    margin-bottom: 0.5rem;
}
#champion-summoner {
    box-sizing: border-box;
    width: 100%;
    height: 20%;
    font-size: 0.8rem;
    color: rgb(85, 85, 85);
    text-align: center;
}
#champion-img {
    border-radius: 1.75rem;
}

#champion-spell,
#champion-rune,
#champion-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#champion-profile > img {
    height: 3.5rem;
    margin-right: 0.5rem;
}
#champion-spell > img,
#champion-rune > img {
    height: 1.5rem;
    margin: 0.1rem;
}
#champion-rune > img {
    border-radius: 0.75rem;
    background-color: black;
}
#champion-rune > img:last-child {
    background-color: #99bde0;
}

#kda-stat {
    color: rgb(85, 94, 94);
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

#kda-death {
    color: #c5443e;
}
.slash {
    font-size: 0.9rem;
    font-weight: lighter;
}

#kda-mean {
    font-size: 0.8rem;
    color: rgb(85, 85, 85);
    font-weight: bold;
}

#mean-stat {
    color: #353a3a;
}

.stats {
    font-size: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(85, 85, 85);
    height: 100%;
    font-weight: 400;
}

#stats-kill {
    font-weight: 900;
}

#stats-killRatio {
    color: #c5443e;
}

#items-main > img,
#items-sub > img {
    height: 2rem;
}

#items-ward > img {
    height: 1.5rem;
    margin-right: 0.5rem;
}
.items {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#items-all {
    width: 8rem;
    display: flex;
}
#items-main {
    height: 4rem;
}
#items-ward {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
}

.participant-profile > img {
    height: 1.2rem;
    margin-right: 0.1rem;
}
.participant-username {
    font-size: 0.6rem;
}
.participants {
    display: flex;
}

.participant-profile {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#ally,
#opponent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 110%;
}
#ally {
    margin-right: 0.5rem;
}
