body {
    background-color: #5484e8;
}

#main {
    box-sizing: border-box;
    width: 100%;
    height: 30vh;
    margin-top: 30vh;
    padding: 0 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main-title {
    color: white;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 2rem;
}

#main-input {
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 70%;
    padding: 0.5rem 1rem;
}

#main-input > input:first-child {
    width: 20rem;
    height: 2rem;
    outline: none;
    border: none;
    font-size: 1rem;
}

#main-input > input:last-child {
    background-color: #01a8ff;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
}

#main-input > input:last-child:hover {
    opacity: 0.9;
}

#main-input > input:last-child:active {
    opacity: 0.6;
}
